pytorch::pytorch==1.12
pyg::pyg
conda-forge::pymatgen
conda-forge::mp-api
conda-forge::bayesian-optimization
conda-forge::mendeleev
conda-forge::seaborn==0.13
scikit-learn
jupyter
ipykernel
matplotlib
numpy
pandas
xgboost
tensorboard
setuptools==58